{# #######################################################################
# Nom du fichier: ajouter_personne.html.twig
# Description: Ajouter une personne
# Auteurs: Emilie Le Rouzic, Thibault Tanné
# Date de création: avril 2024
# Version: 1.0
####################################################################### #}
{% extends 'back/base_back.html.twig' %}

{% block title %}Ajouter {{title}}{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/back.css') }}"> {% endblock %}

{% block body %}
    <h1>Ajouter {{title}}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}