<tbody id="tableBody">
{% if stages is empty %}
    <tr>
        <td  class="coix" colspan="7">Aucun stage trouvé avec ce filtrage</td>
    </tr>
{% else %}
    {% for stage in stages %}
        <tr onclick="afficherDetails({{ stage.id }});" class="lignetableau">
            <td>{{ stage.apprenant.nom }} {{ stage.apprenant.prenom }}</td>
            <td>{{ stage.dateDebut|date('d-m-Y') }} - {{ stage.dateFin|date('d-m-Y') }}</td>
            <td>{{ stage.titre }}</td>
            <td>{{ stage.tuteurIsen.nom }} {{ stage.tuteurIsen.prenom }}</td>
            <td>{{ stage.soutenance }}</td>
            <td>{{ stage.rapport }}</td>
            <td>{{ stage.evalEntreprise }}</td>
        </tr>
    {% endfor %}
{% endif %}
</tbody>

