<tbody id="tableBody">
{% if stages is empty %}
    <tr>
        <td  class="croix" colspan="7">Aucun stage trouvé avec ce filtrage</td>
    </tr>
{% else %}
    {% for stage in stages %}
        <tr onclick="afficherDetails({{ stage.id }});" class="lignetableau">
            <td>{{ stage.apprenant.nom }} {{ stage.apprenant.prenom }}</td>
            <td>{{ stage.dateDebut|date('d-m-Y') }} - {{ stage.dateFin|date('d-m-Y') }}</td>
            <td>{{ stage.titre }}</td>
            <td>{{ stage.tuteurIsen.nom }} {{ stage.tuteurIsen.prenom }}</td>
         <td id="soutenance{{ stage.id }}">{{ stage.soutenance }}</td>
            <td id="rapport{{ stage.id }}">{{ stage.rapport }}</td>
            <td id="eval{{ stage.id }}">{{ stage.evalEntreprise }}</td>
        </tr>
    {% endfor %}
{% endif %}
</tbody>
{# {% if CurrentPage > 1 %}
    <a href="{{ path('trier', {'type': 'colonne', 'page': CurrentPage - 1, 'desc': sortingParams['desc'], 'apprenant': filters['nom'], 'tuteur': sortingParams['tuteur'], 'annee': filters['annee'], 'groupe': filters['groupe']}) }}">Page précédente</a>
{% endif %}
<p>Page {{ CurrentPage }} sur {{ totalPages }}</p>
{% if CurrentPage < totalPages %}
    <a href="{{ path('trier', {'type': 'colonne', 'page': CurrentPage + 1, 'desc': sortingParams['desc'], 'apprenant': filters['nom'], 'tuteur': sortingParams['tuteur'], 'annee': filters['annee'], 'groupe': filters['groupe']}) }}">Page suivante</a>
{% endif %} #}
