<script src="{{ asset('js/filtrage.js') }}"></script>
<form id="filterForm">
	<label for="nom">Nom:</label>
  <input type="text" placeholder="Nom prénom" id="inputNom" list="dataList" onKeyUp="autoComplete(event)">
  <input type="hidden" id="nameId">
  <datalist id="dataList">
  </datalist>

	<label for="groupe">Groupe :</label>
  <input type="text" placeholder="Groupe" id="inputGroupe" list="dataList" onKeyUp="autoComplete(event)">
	<input type="hidden" id="groupeId">

	<label for="etat_stage">État du stage :</label>
	<select name="etat_stage" id="etatInput">
		<option value="">Etat du stage</option>
		{% for etat in etats_stages %}
			<option value="{{ etat.id }}">{{ etat.libelle }}</option>
		{% endfor %}
	</select><br>

	<label for="annee">Année :</label>
	<select name="annee" id="anneeInput">
		<option value="">Année</option>
		{% for annee in annees %}
			<option value="{{ annee }}">{{ annee }}</option>
		{% endfor %}
	</select><br>

	<label for="professeur">Professeur :</label>
  <input type="text" placeholder="Professeur" id="inputProf" list="dataList" onKeyUp="autoComplete(event)">
  <input type="hidden" id="profId">
	<button type="button" onclick="filterResults()">Filtrer</button>
	<button class="croix" type="button" onclick="defiltrer()">✕</button>
</form>
<script>

function autoComplete(event){
  const input = event.target;
  const inputValue = input.value;
  var url = "/autocomplete?filtre="+input.id+"&val="+inputValue;
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function(){
    if(this.status == 200){
      
      const suggestionList = document.getElementById("dataList");
      //vider la liste
      suggestionList.innerHTML = "";
      suggestionList.setAttribute("element", "apprenant")
      var result = JSON.parse(this.responseText);
      result.forEach(function(item){
        const option = document.createElement("option");
        switch(input.id){
          case "inputNom": case "inputProf":
            var name = item.nom + " " + item.prenom;
            option.value = name;
            break;
          case "inputGroupe":
            option.value = item.libelle;
            break;
        }

        
        option.setAttribute("data-id", item.id)*
        suggestionList.appendChild(option)
      })

    }
  }
  xhttp.open("GET", url, true)
  xhttp.send();
}

document.addEventListener('click', function(event) {
    const autocompleteList = document.getElementById('autocompleteList');
    const id = event.target;
    if (autocompleteList && event.target !== autocompleteList && event.target.parentNode !== autocompleteList) {
        autocompleteList.parentNode.removeChild(autocompleteList);
    }
    if(id.id == "inputNom" ||id.id == "inputGroupe" ||id.id == "inputEtat" || id.id == "inputAnne" || id.id == "inputProf"){
      autoComplete.removeChild(autoCompleteList);
    }
});

function setId(event){
  console.log("nioc")
  const input = event.target;
  const selectedOption = document.querySelector(`option[value="${input.value}"]`);
    if (selectedOption) {
        const selectedId = selectedOption.getAttribute('data-id');
        console.log(input)
        switch(input.id){
          case "inputNom":
            document.getElementById('nameId').value = selectedId;
            break;
          case "inputGroupe":
            document.getElementById('groupeId').value = selectedId;
            break;
          case "inputProf":
            document.getElementById('profId').value = selectedId;
            break;
        }
    } else {
        switch(input.id){
          case "inputNom":
            document.getElementById('nameId').value = "";
            break;
          case "inputGroupe":
            document.getElementById('groupeId').value = "";
            break;
          case "inputProf":
            document.getElementById('profId').value = "";
            break;
        }
    }
}

document.getElementById('inputNom').addEventListener('input', function(event){setId(event)});
document.getElementById('inputGroupe').addEventListener('input', function(event){setId(event)});
document.getElementById('inputProf').addEventListener('input', function(event){setId(event)});


</script>
