<script src="{{ asset('js/pagination.js') }}"></script>
<script src="{{ asset('js/trier.js') }}"></script>
<table>
    <thead>
        <tr>
            <th onclick="trier('apprenant')">Nom Prénom <span id="sapprenant" >▲</span></th>
            <th onclick="trier('date')">Date début-fin <span id ="sdate" >▲</span></th>
            <th onclick="trier('titre')">Titre stage <span id = "stitre">▲</span></th>
            <th onclick="trier('tuteur')" >Tuteur académique <span id="stuteur">▲</span></th>
            <th onclick="trier('soutenance')">Soutenance <span id="ssoutenance">▲</span></th>
            <th  onclick="trier('rapport')">Rapport <span id="srapport">▲</span></th>
            <th onclick="trier('eval')">Évaluation entreprise <span id="seval">▲</span></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        {% for stage in stages %}
        <tr  onclick="afficherDetails({{ stage.id }});" class="lignetableau">
            <td>{{ stage.apprenant.nom }} {{ stage.apprenant.prenom }}</td>
            <td>{{ stage.dateDebut|date('d-m-Y') }} - {{ stage.dateFin|date('d-m-Y') }}</td>
            <td>{{ stage.titre }}</td>
            <td>{{ stage.tuteurIsen.nom }} {{ stage.tuteurIsen.prenom }}</td>
            <td id="soutenance{{ stage.id }}">{{ stage.soutenance }}</td>
            <td id="rapport{{ stage.id }}">{{ stage.rapport }}</td>
            <td id="eval{{ stage.id }}">{{ stage.evalEntreprise }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="paginationButtons"></div>

<script>

// Appeler la fonction paginer pour afficher la première page lors du chargement de la page
document.addEventListener("DOMContentLoaded", function() {
    paginer(1);
});

</script>
