<table>
    <thead>
        <tr>
            <th onclick="trier('apprenant')">Nom Prénom <span id="sapprenant" >▲</span></th>
            <th onclick="trier('date')">Date début-fin <span id ="sdate" >▲</span></th>
            <th onclick="trier('titre')">Titre stage <span id = "stitre">▲</span></th>
            <th onclick="trier('tuteur')" >Tuteur académique <span id="stuteur">▲</span></th>
            <th onclick="trier('soutenance')">Soutenance <span id="ssoutenance">▲</span></th>
            <th  onclick="trier('rapport')">Rapport <span id="srapport">▲</span></th>
            <th onclick="trier('eval')">Évaluation entreprise <span id="seval">▲</span></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        {% for stage in stages %}
        <tr  onclick="afficherDetails({{ stage.id }});" class="lignetableau">
            <td>{{ stage.apprenant.nom }} {{ stage.apprenant.prenom }}</td>
            <td>{{ stage.dateDebut|date('d-m-Y') }} - {{ stage.dateFin|date('d-m-Y') }}</td>
            <td>{{ stage.titre }}</td>
            <td>{{ stage.tuteurIsen.nom }} {{ stage.tuteurIsen.prenom }}</td>
            <td id="soutenance{{ stage.id }}">{{ stage.soutenance }}</td>
            <td id="rapport{{ stage.id }}">{{ stage.rapport }}</td>
            <td id="eval{{ stage.id }}">{{ stage.evalEntreprise }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
function trier(colonne) {
    // Récupérer la valeur de l'élément nomInput
    var nomInput = document.getElementById('nomInput');
    var nom = nomInput ? nomInput.value : '';
    var professeur = document.getElementById('profInput').value;
    var groupe = document.getElementById('groupeInput').value;
    // Récupérer le tableau
    var tableau = document.getElementById("tableBody");
    var annee = document.getElementById('anneeInput').value;
    // Récupérer les lignes du tableau
    var lignes = tableau.getElementsByTagName("tr");
    var ordreAlphabetique = 1;

   var span =document.getElementById("s"+colonne);
    if (span.innerHTML === "▲"){
        span.innerText = "▼";
        ordreAlphabetique = 1;
    } else {
        span.innerText = "▲";
        ordreAlphabetique = 2;
    }
    // Envoyer une requête AJAX
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/trier/" + colonne + "?desc=" + ordreAlphabetique + "&apprenant=" + nom+"&tuteur="+professeur+"&annee="+annee+ '&groupe=' + groupe, true);
    console.log("/trier/" + colonne + "?desc=" + ordreAlphabetique + "&apprenant=" + nom+"&tuteur="+professeur);
    xhr.onreadystatechange = function() {
        if (xhr.readyState == XMLHttpRequest.DONE) {
            if (xhr.status == 200) {
                tableau.innerHTML = xhr.responseText;
            } else {
                console.error("Une erreur est survenue : " + xhr.status);
            }
        }
    };
    xhr.send();
}


</script>
