{% extends 'back/base_back.html.twig' %}
{% block title %}Liste des {{title}}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{# Cela inclura les stylesheets du modèle de base #}
	<link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block body %}

<div class="example-wrapper">

		<h1 class="titre-page">Liste des {{title}}</h1>
            {# {% include 'home/form.html.twig' %} #}
            {% if personnes is defined %}
                {% include 'back/tableau_personne.html.twig' %}
            {% elseif entreprises is defined %}
                {% include 'back/tableau_entreprise.html.twig' %}
            
            {% elseif stages is defined %}
                 <a class = "bouton-ajouter" href="/back/ajouter-stage"> Ajouter un stage </a>
                {% include 'home/form.html.twig' %}
                {% include 'home/tableau.html.twig' %}
                <div id="detailsDiv" style="display: none;">
                {% include 'back/fiche_detail.html.twig' %}
                </div>
            {% endif %}


</div>
<script>
function afficherDetails(id) {
  // Envoi d'une requête AJAX pour récupérer les détails du stage
  var xhr = new XMLHttpRequest();
  var url = '/back/fichedetail?id=' + id;

  xhr.open('GET', url, true);
  xhr.onload = function() {
    if (xhr.status >= 200 && xhr.status < 400) {
      // Succès de la requête
      var detailsDiv = document.getElementById('detailsDiv');
      detailsDiv.innerHTML = xhr.responseText; // Injecter le HTML directement dans le div
      detailsDiv.style.display = 'block'; // Afficher le div

      // Ajouter la classe 'active' à tous les éléments avec la classe 'fichedetail'
      setTimeout(function() {
        var details = document.getElementsByClassName('fichedetail');
        for (var i = 0; i < details.length; i++) {
          details[i].classList.add('active');
        }
        
        // Calculer la position actuelle de la fenêtre
        var windowPosition = window.scrollY;

        // Ajuster la position de la boîte de détails
        detailsDiv.style.top = (windowPosition + 60) + 'px'; // Ajoutez une marge de 100 pixels par exemple
      }, 10);
    }
  };
  xhr.send();
}
</script>
{% endblock %}