{% extends 'back/base_back.html.twig' %}
{% block title %}Liste des {{title}}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{# Cela inclura les stylesheets du modèle de base #}
	<link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/back.css') }}">
{% endblock %}

{% block body %}

<div class="example-wrapper">

		<h1 class="titre-page">Liste des {{title}}</h1>
            {# {% include 'home/form.html.twig' %} #}
            {% if personnes is defined %}
                {% include 'back/tableau_personne.html.twig' %}
            {% elseif entreprises is defined %}
                {% include 'back/tableau_entreprise.html.twig' %}
            
            {% elseif stages is defined %}
                {% include 'home/form.html.twig' %}
                {% include 'home/tableau.html.twig' %}
                <div id="detailsDiv" style="display: none;">
                {% include 'home/fiche_detail.html.twig' %}
                </div>
            {% endif %}


</div>
{% endblock %}