 <h3>Etat de validation :</h3>
{{ form_start(form, {'attr': {'id': 'myForm'}}) }}
<p>Soutenance : 
{{ form_widget(form.soutenance) }}</p>
<p>Rapport : 
{{ form_widget(form.rapport) }}</p>
<p>Enteprise : 
{{ form_widget(form.eval_entreprise) }}</p>
<button type="button" class="btn btn-primary" id="submitForm">Valider</button>
{{ form_end(form) }}

<script>
document.getElementById('submitForm').addEventListener('click', function() {
    var formData = new FormData(document.getElementById('myForm'));
    var xhr = new XMLHttpRequest();
    var url = '/back/modifier-etats/{{stage[0].id}}';
    xhr.open('POST', url, true);
    xhr.onload = function() {
        if (xhr.status >= 200 && xhr.status < 400) {
            console.log("Modification réussie");
            var newData = JSON.parse(xhr.responseText);
            console.log(newData);
            $('#etatvalidation').html(`<h3>Etat de validation :</h3>
                <p>Soutenance : ${newData.soutenance}</p>
                <p>Rapport : ${newData.rapport}</p>
                <p>Entreprise : ${newData.evalEntreprise}</p>
                <button  class="modifier" onclick=chargerFormulaireModificationEtats({{stage[0].id}})>Modifier</button>`);
            $('#soutenance{{stage[0].id}}').html(`${newData.soutenance}`);
             $('#rapport{{stage[0].id}}').html(`${newData.rapport}`);
              $('#eval{{stage[0].id}}').html(`${newData.evalEntreprise}`);
        } else {
            console.error("Une erreur s'est produite lors de la modification");
        }
    };

    xhr.onerror = function() {
        console.error("Erreur réseau lors de la modification");
    };

    // Envoyer les données du formulaire
    xhr.send(formData);
});


</script>

