<script src="{{ asset('js/pagination.js') }}"></script>
{% if personnes[0].numApprenant is defined %}
   <a class = "bouton-ajouter" href="/back/ajouter-apprenant">Ajouter un apprenant</a>
{% elseif personnes[0].numTuteurStage is defined %}
    <a class = "bouton-ajouter" href="/back/ajouter-tuteur-stage">Ajouter un tuteur Stage</a>
{% elseif personnes[0].numTuteurIsen is defined %}
   <a class = "bouton-ajouter" href="/back/ajouter-tuteur-isen">Ajouter un tuteur Isen</a>
{% endif %}
<table class ="backtableau">
    <thead>
        <tr>
            <th>Numéro Isen</th>
            <th>Nom</th>
            <th>Prénom</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        {% for personne in personnes %}
            <tr>
                {% if personne.numApprenant is defined %}
                    <td>{{ personne.numApprenant }}</td>
                {% elseif personne.numTuteurStage is defined %}
                    <td>{{ personne.numTuteurStage }}</td>
                {% elseif personne.numTuteurIsen is defined %}
                    <td>{{ personne.numTuteurIsen }}</td>
                {% endif %}
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div id="paginationButtons"></div>

<script>

// Appeler la fonction paginer pour afficher la première page lors du chargement de la page
document.addEventListener("DOMContentLoaded", function() {
    paginer(1);
});

</script>

